*{
    margin:0;

    padding:0;
}
span{
    display: inline-block;
}
.container{
    background-color: #fbe8d2;
    height:100vh;
    width: 100vw;
}
.OutputCon{
    background-color: red;
    height: 60%;
    width: 60%;
}
